<div class="artwork-list">
  {{#each model as |artwork|}}
    {{#link-to 'artwork' artwork.id class="artwork"}}
      {{artwork.title}}
    {{/link-to}}
  {{/each}}
</div>

{{#link-to 'create-artwork' class='btn btn-addBook'}}
<button>
  New
</button>
{{/link-to}}
