<div class="collage-list">
  {{#each model as |collage|}}
    {{#link-to 'collage' collage.id class="collage"}}
      {{collage.description}}
    {{/link-to}}
  {{/each}}
</div>
{{#link-to 'create-collage' class='btn btn-addcollage'}}
  Add collage
{{/link-to}}
{{outlet}}
